<<<<<<< HEAD
@media only screen and (max-width: 2800px) {

  nav 
  {
      max-width: 70%;
      mask-image: linear-gradient(90deg, rgba(139, 7, 7, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
      margin: 0 auto;
      padding: 10px 0;
  }

  nav ul 
  {
      text-align: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }

  nav ul li 
  {
      display: inline-block;
  }

  nav ul li a 
  {
      padding: 18px;
      font-family: "Open Sans";
      text-transform:uppercase;
      color: violet;
      font-size: 18px;
      text-decoration: none;
      display: block;
  }

  nav ul li a:hover 
  {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgb(255, 255, 255);
      background: black;
      color: violet;
  }

  body
  {
    background-image: url(../asset/assetEthan/piano-groupe-de-jazz.gif);
    background-color: rgb(107, 0, 75);
    background-size: cover;
  } 

  #info
  {
  border: solid 5px;
  border-color: #5e0447;
  width: 20%;
  padding: 2%;
  margin-top: 10%;
  border-radius: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p,label,h1
  {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }

  #spin
  {
    width: 100%;
    height: 15%;
    position: relative;
    cursor: pointer;
  }

  #spin:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }

  #spin:hover:before
  {
    opacity: 1;
  }

  #spin:hover:active
  {
    background: none;
  }

  #spin:hover:active:before
  {
    filter: blur(2px);
  }

  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  #reels
  {
    width: 800px;
    height: 340px;
    overflow: hidden;
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
  }

  #reels ul
  {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    width: 25%;
    height:20%;
    text-align: center;
  }

  .note
  {
    height: 340px;
    width: 250px;
    z-index: -1;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate2 20s linear infinite;
  }

  @keyframes animate2 {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  #reel2
  {
    position: relative;
    left: 9.5%;
  }

  #reel3
  {
    position: relative;
    left: 19%;
  }

  input
  {
    text-align: center;
    background-color: black;
    color: white;
  }
=======
@media only screen and (max-width: 2800px) {

  nav 
  {
      max-width: 70%;
      mask-image: linear-gradient(90deg, rgba(139, 7, 7, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
      margin: 0 auto;
      padding: 10px 0;
  }

  nav ul 
  {
      text-align: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  }

  nav ul li 
  {
      display: inline-block;
  }

  nav ul li a 
  {
      padding: 18px;
      font-family: "Open Sans";
      text-transform:uppercase;
      color: violet;
      font-size: 18px;
      text-decoration: none;
      display: block;
  }

  nav ul li a:hover 
  {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgb(255, 255, 255);
      background: black;
      color: violet;
  }

  body
  {
    background-image: url(../asset/assetEthan/piano-groupe-de-jazz.gif);
    background-color: rgb(107, 0, 75);
    background-size: cover;
  } 

  #info
  {
  border: solid 5px;
  border-color: #5e0447;
  width: 20%;
  padding: 2%;
  margin-top: 10%;
  border-radius: 15%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p,label,h1
  {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }

  #spin
  {
    width: 100%;
    height: 15%;
    position: relative;
    cursor: pointer;
  }

  #spin:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }

  #spin:hover:before
  {
    opacity: 1;
  }

  #spin:hover:active
  {
    background: none;
  }

  #spin:hover:active:before
  {
    filter: blur(2px);
  }

  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  #reels
  {
    width: 800px;
    height: 340px;
    overflow: hidden;
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
  }

  #reels ul
  {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    width: 25%;
    height:20%;
    text-align: center;
  }

  .note
  {
    height: 340px;
    width: 250px;
    z-index: -1;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate2 20s linear infinite;
  }

  @keyframes animate2 {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }

  #reel2
  {
    position: relative;
    left: 9.5%;
  }

  #reel3
  {
    position: relative;
    left: 19%;
  }

  input
  {
    text-align: center;
    background-color: black;
    color: white;
  }
>>>>>>> fc94c8f33ee67459801d715e1bff705de3ed70f3
}